@page "/trainee/notcompletecourse/{TraineeID}"
@model TrainingSystemTraineeWEB.Pages.Trainee.CourseNotCompletedModel
@{
}

<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
<div class="d-flex flex-row-reverse">
    <div class="p-2">
        <div class="dropdown1">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Khoá học đang tham gia </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/trainee/courseresult/@Model.TraineeID">Khoá học đã hoàn thành</a></li>
                    <li><a class="dropdown-item" href="#">Khoá học đang tham gia</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<h2>Khoá học đang tham gia : </h2>
<div class="card-style mb-30">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tên</th>
                <th scope="col">Điểm</th>
                <th scope="col">Đánh giá</th>
            </tr>
        </thead>
        <tbody id="course-list">
            @foreach (var course in Model.CourseResult)
            {
                <tr>
                    <td width="100" style="padding-right: 50px;">
                        <a href="/trainee/CourseDetailEvaluate/@Model.TraineeID/@course.CourseID">@course.CourseName</a>
                    </td>
                    <td width="100" style="padding-right: 50px; ">
                        @course.Point
                    </td>
                    <td width="100" style="padding-right: 50px;">
                        @course.ResultOfEvaluation
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
