@page "/manager/notification.htm"
@model TrainingSystemManagerWEB.Pages.Manager.NotificationModel
@{
    ViewBag.PageName = "Notification";
}

<!-- ========== form-elements-wrapper start ========== -->
<form action="https://localhost:44321/api/notification" method="post">
    <div class="form-elements-wrapper">
        <div class="row">
            <div class="card-style mb-30 mt-10">
                <h4 class="text-primary text-center">GỬI THÔNG BÁO</h4>
            </div>
            <!-- end card -->
            <!-- input style start -->
            <div class="card-style mb-30">
                <h4 class="mb-25">NỘI DUNG THÔNG BÁO </h4>
            </div>
            <!-- end row -->
            <p class="mb-10 fw-bolder">Thông báo</p>
            <div class="input-style-1 rounded-3">
                <input type="text" name="Desciption" />
        </div>
        <!-- end card -->
    </div>
    <!-- end row -->
    <button type="submit" class="btn btn-success justify-content-center"><b>GỬI THÔNG BÁO</b></button>
    </div>
</form>


